{% extends 'Rent_Anthing/base.html' %}

{% block title %}
    View more
{% endblock %}

{% block body %}
    <h1>More Information</h1>

    <form method="post" action="{% url 'view_more' item.id %}">
        {% csrf_token %}
        <div class="container justify-content-center">
        <li class="list-group-item">Rate(per day): {{ item.rate }}</li>
        <li class="list-group-item">Address: {{ item.address }}</li>
        <li class="list-group-item">Phone Number: {{ item.phone }}</li>
        <li class="list-group-item">City: {{ item.city }}</li>
        <li class="list-group-item">Zip-Code: {{ item.zip }}</li>
        <li class="list-group-item">Available: {{ item.quantity }}</li>
        <li class="list-group-item">Category: {{ item.category }}</li>
        </div>
    </form>
        <a href="{% url 'view_products' %}" class="btn btn-dark m-3"><i class="fas fa-arrow-left"></i> Go Back</a>

{% endblock %}