{% extends 'Rent_Anthing/base.html' %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}

{% block title %}
    Product Form
{% endblock %}

{% block body %}

     <h1>List your Item</h1>
    <form method="POST" enctype="multipart/form-data" action="">
        {% csrf_token %}
        {{ form|crispy }}
        <div class="my-3">
            <a href="{% url 'view_products' %}" class="btn btn-dark"><i class="fas fa-arrow-left"></i> Go Back</a>
            <button type="reset" class="btn btn-warning"><i class="fas fa-redo-alt"></i> Reset</button>
            <button type="submit" class="btn btn-primary"><i class="fas fa-save"></i> Save</button>
        </div>
    </form>

{% endblock %}